.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #da8a8a;
}

table {
  color: rgb(126, 134, 206);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #b3beee;
}

.header-row {
    background: rgb(152, 155, 158);
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}